In [2]:
import pandas as pd

df = pd.read_csv("datasets/2022/auto_augment.csv")
df = df.dropna(subset=["aii_p", "aug_p"]).copy()
df["resilience_index"] = df["aug_p"] - df["aii_p"]
df[["Title", "aii_p", "aug_p", "resilience_index"]].head(100)

,Title,aii_p,aug_p,resilience_index
0,Chief Executives,0,0,0
1,General and Operations Managers,9,7,-2
2,Advertising and Promotions Managers,0,0,0
3,Marketing Managers,0,0,0
4,Sales Managers,9,0,-9
...,...,...,...,...
95,Electrical and Electronic Engineering Technolo...,24,18,-6
96,Electro-Mechanical and Mechatronics Technologi...,80,49,-31
97,Environmental Engineering Technologists and Te...,6,22,16
98,Industrial Engineering Technologists and Techn...,31,17,-14
99,Mechanical Engineering Technologists and Techn...,31,14,-17